
<table id="sequenceListViewTable" border="1" style="width: 100%" >
	<thead>
		<tr>
			<th style="width: 20%; text-align: center;">Order</th>
			<th style="text-align: center;">Group Name</th>
		</tr>
	</thead>
	{{#if displayObject.displayFlowSequenceGroups}}
	<tbody>
		{{#each displayObject.displayFlowSequenceGroups}}
		<tr {{#if currentSelected}}style="background-color: orange; font-weight: bold;" {{/if}}>
			<td style="width: 20%; text-align: center;">{{order}}</td>
			<td style="text-align: center; cursor: pointer;" onclick="changeGroupUnits('{{groupId}}')">{{groupName}}</td>
		</tr>
		{{/each}}
	</tbody>
	{{/if}}
</table>